namespace: "ryanph"
name: "vast"
version: "{{ version }}"
readme: "README.md"
authors:
    - "Ryan Parker-Hill (ryanph@hoover.rocks)"
dependencies:
license:
    - "MIT"
tags:
    - vast
    - collection
repository: "{{ repository.url }}"